In [ ]:
#pip install dataframe-image

In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import dataframe_image as dfi

In [2]:
engine = create_engine("sqlite:///./Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# what are the tables in the database
Base.classes.keys()

['measurement', 'station']

In [3]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [6]:
#  3. Convert the June temperatures to a list.
june_temps_list = [temp.tobs for temp in june_temps]
june_temps_list[:5]

[78.0, 76.0, 78.0, 76.0, 77.0]

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temps_list, columns=['June Temps'])
june_temp_df

      June Temps
0           78.0
1           76.0
2           78.0
3           76.0
4           77.0
...          ...
1695        79.0
1696        74.0
1697        74.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_summary_stats = june_temp_df.describe()

# export as image
dfi.export(june_temp_summary_stats, "Images/june_temp_summary_stats.png")


june_temp_summary_stats

[1225/232712.975924:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/: Operation not permitted (1)
[1225/232712.979860:ERROR:file_io.cc(94)] ReadExactly: expected 8, observed 0
[1225/232712.982279:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/: Operation not permitted (1)
[1225/232713.956152:INFO:headless_shell.cc(653)] Written to file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/tmpth8m4to8/temp.png.

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
#dec_temps

In [13]:
# 7. Convert the December temperatures to a list.
dec_temps_list = [temp.tobs for temp in dec_temps]

In [14]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(dec_temps_list, columns=['December Temps'])
dec_temp_df

      December Temps
0               76.0
1               74.0
2               74.0
3               64.0
4               64.0
...              ...
1512            71.0
1513            71.0
1514            69.0
1515            65.0
1516            65.0

[1517 rows x 1 columns]

In [16]:

# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_summary_stats = dec_temp_df.describe()

dfi.export(dec_temp_summary_stats, "Images/dec_temp_summary_stats.png")

dec_temp_summary_stats

[1225/233433.133678:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/: Operation not permitted (1)
[1225/233433.135283:ERROR:file_io.cc(94)] ReadExactly: expected 8, observed 0
[1225/233433.137583:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/: Operation not permitted (1)
[1225/233434.072118:INFO:headless_shell.cc(653)] Written to file /var/folders/7n/t5t1x1cd62v__kb1vyyytr1c0000gn/T/tmpnibuedye/temp.png.

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000